@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
  --regular-transition: transition: all 0.3s ease;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

main {
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 2rem 1rem;
}

.section-container {
  color: var(--white);
  margin: 0 0 5rem 0;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
  width: 100%;
  display: flex;
}

/* NAVBAR */

.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2rem 13rem;
    color: var(--white);
}

.logo {
    max-width: 150px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links li{
    position: relative;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-light);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-link.active {
    color: var(--secondary-color);
}

.nav-link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--secondary-color);
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 50%;
}

.nav-link.active::after {
    width: 50%;
}

.nav-btn {
    transition: all 0.5s ease;
}

.nav-btn:hover {
    transform: translateY(-8px);
}

#hero {
    margin-top: auto;
    margin-bottom: 9rem;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    margin-bottom: 2rem;
}

.hero-text {
    flex: 1;
    animation: fromLeft 1s ease forwards;
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-subtitle-1 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.hero-title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    margin-bottom: 1rem;
}

.hero-title span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.hero-subtitle-2 {
    font-size:  16px;
    color: var(--text-light);
    margin-bottom: 2.5rem;
}

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fromRight 1s ease forwards;
}

@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-img img {
    max-width: 350px;
    margin: auto;
}

.slide-container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 5rem;
}

.slide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2.25rem;
    font-weight: 600px;
}

.slide-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.slide-btns > i {
    border: solid 3px var(--white);
    border-radius: 100%;
    font-size: 1.5rem;
    font-weight: 500px;
    padding: 6px;
    color: var(--white);
    transition: var(--regular-transition);
    cursor: pointer;
}

.slide-btns > i:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.programms-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.programm {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 2px transparent;
    border-radius: 10px;
    background-color: var(--primary-color-light);
    max-height: 100%;
    padding: 16px;
    gap: 1rem;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.programm:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
}

.programm span {
    background-color: var(--secondary-color);
    max-width: max-content;
    padding: 8px;
    border-radius: 10px;
}

.programm span > i {
    font-size: 2rem;
    font-weight: 500px;
}

.programm p {
    color: var(--text-light);
    margin-bottom: 5px;
}

.programm button {
    border: none;
    max-width: max-content;
    background: none;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: var(--regular-transition);
}

.programm button:hover {
    color: var(--secondary-color);
    background-color: transparent;
    font-size: 16px;
}

.class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
    gap: 2rem;
}

.class-images {
    position: relative;
}

.class-1-img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    border-radius: 10px;
}

.class-2-img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    border-radius: 10px;
}

.class-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.class-content h2 {
    text-align: left;
    max-width: 400px;
}

.class-content p {
    color: var(--text-light);
    margin-bottom: 4rem;
}

.class-content > .btn {
    max-width: max-content;
}

.join-header {
    text-align: center;
    margin-bottom: 4rem;
}

.join-header > p {
    color: var(--text-light);
    margin-top: 1rem;
}

/* .join {
    background-color: white;
} */

.join-content {
    position: relative;
}

.join-img {
    border-radius: 10px;
    max-width: 100%;
}

.join-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color-light);
    border-radius: 10px;
    padding: 2rem;
    max-width: 90%;
    position: absolute;
    left: 5%;
    bottom: -15%;
    gap: 2rem;
}

.join-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.join-item span {
    background-color: var(--secondary-color);
    max-width: max-content;
    padding: 8px;
    border-radius: 10px;
}

.join-item span > i {
    font-size: 2rem;
    font-weight: 500px;
}

.join-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.pricing-header {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.pricing-header > p {
    color: var(--text-light);
    margin-top: 1rem;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

.pricing-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 3rem 1.5rem;
    background-color: var(--primary-color-light);
    border: solid 2px transparent;
    border-radius: 10px;
    gap: 2.5rem;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.pricing-card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
}

.pricing-card-content > p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.pricing-features {
    padding-top: 2rem;
    border-top: solid 2px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.pricing-features p > i {
    color: var(--secondary-color);
}

.pricing-card > button {
    background: transparent;
    border: solid 2px var(--secondary-color);
    transition: background-color 0.3s ease-in-out;
}

.pricing-card > button:hover {
    background-color: var(--secondary-color);
}

.review-cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

.review-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--primary-color-light);
    border: solid 2px transparent;
    border-radius: 10px;
    gap: 2.5rem;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.review-card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
}

.review-rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.review-rating i {
    color: var(--secondary-color);
}

.review-member {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.member-img {
    max-width: 50px;
    border-radius: 100%;
}

.member-img img {
    width: 100%;
    border-radius: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color-light);
    color: var(--white);
    padding: 5rem 13rem 1rem;
    gap: 5rem;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

.footer-item {
    flex: 1;
    min-height: 100%;
}

.footer-item > p, li {
    color: var(--text-light);
}

.footer-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: max-content;
    gap: 2rem;
}

.footer-socials i {
    border: solid 2px var(--secondary-color);
    border-radius: 100%;
    font-size: 1rem;
    padding: 6px;
    color: var(--secondary-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
}

.footer-socials i:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

.footer-item > h4 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.footer-item > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.75rem;
}

.footer-item > ul a {
    transition: color 0.3s ease-in-out;
}

.footer-item > ul a:hover {
    color: var(--secondary-color);
}


@media (max-width: 640px) {

    main {
        padding: 0 2rem;
    }

    .nav-links {
        display: none;
    }

    .navbar {
        padding: 1.5rem 1rem 2rem 1rem;
    }

    .logo {
        max-width: 100px;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 14px;
    }

    #hero {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .hero-content {
        flex-direction: column;
        max-width: var(--max-width);
    }

    .hero-text {
        text-align: center;
        margin-bottom: 2rem;
    }

    .hero-title {
        font-size: 3rem;
        line-height: 4rem;
    }

    .hero-subtitle-2 {
        font-size: 14px;
    }

    .hero-img img {
        max-width: 300px;
    }

    .slide-container {
        gap: 4rem;
    }

    .slide-header {
        flex-direction: column;
        gap: 1rem;
    }

    .section-title {
        font-size: 1.25rem;
    }

    .slide-btns {
        gap: 1rem;
        display: none;
    }

    .slide-btns > i {
        font-size: 1rem;
        padding: 4px;
    }

    .programms-content, .join-card, .pricing-cards, .review-cards {
        flex-direction: column;
    }

    .class {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5rem;
        margin-bottom: 15rem;
    }

    .class-images {
        order: 2;
    }

    .class-1-img {
        position: relative;
        max-width: 100%;
    }

    .class-2-img {
        position: absolute;
        max-width: 80%;
        left: 10%;
        bottom: -50%;
    }

    .class-content > p {
        margin-bottom: 1.5rem;
    }

    .join {
        margin-bottom: 27rem;
    }

    .join-card {
        max-width: 100%;
        left: 0;
        bottom: -27rem;
    }

    footer {
        padding: 2.5rem 2rem;
        align-items: center;
    }

    .footer-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}
